<div class="container user_list">

    <div class="row list">

        <div class="col-md-3 pull-right">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
	<div class="row list">
		<div class="col-md-12">
    	 <table class="table table-list-search">
                    <thead>
                        <tr>
                            <% @columns.each do |column| %>
                            <th><%= column %></th>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody>

                        <% User.all.each do |user| %>
                        <tr>
                            <% @columns.each do |column| %>
                            <% c = user.send(column) %>
                            <td>
                            <% if c.present? %>
                                <%= c %>
                            <% else %>
                            -
                            <% end %>
                            </td>
                            <% end %>
                        </tr>
                        <% end %>

                    </tbody>
                </table>   
		</div>
	</div>
</div>