<div class="jumbotron user_list list">
   <div class="container">
      <h1>Zepsuł się laptop?!</h1>
      <p>Zapraszam do serwisu</p>
         <%= button_to "Naprawić!", new_request_path, id: "accept-btn",
            :class => "btn btn-primary btn-lg", method: :get %>
      </p>
   </div>
</div>