<!--    Login form-->
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <h1>Logowanie do serwisu</h1>
                        <form role="form" action="@routes.Application.login()" method="post" id="login-form" autocomplete="off">
                            <div class="form-group">
                                <label class="sr-only">Imię użytkownika</label>
                                <input name="login" id="email" class="form-control" placeholder="Imię">
                            </div>
                            <div class="form-group">
                                <label for="key" class="sr-only">Hasło</label>
                                <input type="password" name="key" id="key" class="form-control" placeholder="Hasło">
                            </div>
                            <div class="checkbox">
                                <span class="character-checkbox" onclick="showPassword()"></span>
                                <span class="label">Pokaż hasło</span>
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Logowanie">
                        </form>
                        <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Nie pamiętasz hasła?</a>
                        <hr>
                    </div>
                </div>
                <!-- /.col-xs-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        
        <div class="alert alert-danger" id="wrong-password" role="alert">Nie prawidłowe hasło</div>
    </section>