<!--    Password form-->
    <section id="login">
        <div class="container password-changer">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <h1>Zmień hasło</h1>
                        <form role="form" action=<%= edit_password_users_path %> method="post" id="login-form" autocomplete="off">
                            <div class="form-group">
                                <label for="password" class="sr-only">Stare hasło</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Stare hasło">
                            </div>
                            <div class="form-group">
                                <label for="new-password" class="sr-only">Nowe hasło</label>
                                <input type="password" name="new_password" id="new-password" class="form-control" placeholder="Nowe hasło">
                            </div>
                            <div class="checkbox">
                                <span class="character-checkbox" onclick="showPassword()"></span>
                                <span class="label">Pokaż hasło</span>
                            </div>
                            <input type="submit" id="btn-changep" class="btn btn-custom btn-lg btn-block" value="Zmienić">
                        </form>
                        <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Nie pamiętasz hasła?</a>
                        <hr>
                    </div>
                </div>
                <!-- /.col-xs-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <% if flash[:notice] == "wrong" %>
            <div class="alert alert-danger" id="wrong-password" role="alert">Nieprawidłowe hasło</div>
        <% else if flash[:notice] == "success" %>
            <div class="alert alert-success" role="alert">Hasło zmienione pomyślnie</div>    
        <% end %>
        <% end %>

    </section>