<form class="form-horizontal" action='/create_user' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Rejestracja</legend>
    </div>

    <row>
      <div class="col-md-3">

    <div class="control-group">
      <!-- Name -->
      <label class="control-label"  for="name">Imię *</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Surame -->
      <label class="control-label"  for="surname">Nazwisko *</label>
      <div class="controls">
        <input type="text" id="surname" name="surname" placeholder="" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail *</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        <p class="help-block">Wpisz swój E-mail</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Hasło *</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        <p class="help-block">Wpisz hasło</p>
      </div>
    </div>

  </div>

  <div class="col-md-3">

    <!-- Adress -->
    <div class="control-group">
      <!-- Company -->
      <label class="control-label"  for="company">Firma</label>
      <div class="controls">
        <input type="text" id="company" name="company" placeholder="" class="input-xlarge">
      </div>
      <!-- Phone -->
      <label class="control-label"  for="phone">Telefon</label>
      <div class="controls">
        <input type="text" id="phone" name="phone" placeholder="" class="input-xlarge">
      </div>
      <!-- Zip -->
      <label class="control-label"  for="zip">Kod pocztowy</label>
      <div class="controls">
        <input type="text" id="zip" name="zip" placeholder="" class="input-xlarge">
      </div>
      <!-- City -->
      <label class="control-label"  for="city">Miejscowość</label>
      <div class="controls">
        <input type="text" id="city" name="city" placeholder="" class="input-xlarge">
      </div>
      <!-- Street -->
      <label class="control-label"  for="street">Ulica</label>
      <div class="controls">
        <input type="text" id="street" name="street" placeholder="" class="input-xlarge">
      </div>
      <!-- Appartment -->
      <label class="control-label"  for="appartment">Nr. doma i mieszkania</label>
      <div class="controls">
        <input type="text" id="appartment" name="appartment" placeholder="" class="input-xlarge">
      </div>

    </div>

  </div>

  </row>

  <div class="control-group col-md-6">
    <!-- Button -->
    <div class="controls">
      <button type="submit" class="btn btn-success">Rejestracja</button>
    </div>
  </div>


  </fieldset>
</form>