<div class="container-fluid">
  <section class="container">
    <div class="container-page">    
      <form role="form" action="/create_user" for="user" method="post" id="login-form" autocomplete="off">    
        <div class="col-md-6">
          <h3 class="dark-grey">Rejestracja</h3>

          <div class="form-group col-lg-6">
            <label>Imię</label>
            <input type="" name="user[name]" class="form-control" id="" value="">
          </div>

          <div class="form-group col-lg-6">
            <label>Nazwisko</label>
            <input type="" name="user[surname]" class="form-control" id="" value="">
          </div>

          <div class="form-group col-lg-12">
            <label>Email</label>
            <input type="" name="user[email]" class="form-control" id="" value="">
          </div>

          <div class="form-group col-lg-6">
            <label>Hasło</label>
            <input type="password" name="user[password]" class="form-control" id="" value="">
          </div>

          <div class="form-group col-lg-6">
            <label>Powtórz hasło</label>
            <input type="password" name="" class="form-control" id="" value="">
          </div>


          <div class="col-sm-6">
            <input type="checkbox" class="checkbox" name="notify" />Wyślij powiadomienie na email
          </div>        

        </div>

        <div class="col-md-6">
          <h3 class="dark-grey">Zasady i warunki</h3>
          <p>
            By clicking on "Register" you agree to The Company's' Terms and Conditions
          </p>
          <p>
            While rare, prices are subject to change based on exchange rate fluctuations - 
            should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
          </p>
          <p>
            Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
          </p>
          <p>
            Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
          </p>

          <button type="submit" class="btn btn-primary">Rejestracja</button>

        </div>
      </form>
      <% if flash[:notice] %>
      <div class="alert alert-danger" id="error-alert" role="alert">Rejestracja nie powodła się</div>
      <% end %>
    </div>
  </section>
</div>